*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Hebrew", serif;
    font-optical-sizing: auto;
}

body, html, #root{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*Text*/
.heading{
    color: #272343;
}

.paragraph{
    color: #B7B7B7
}

/*Sections*/
.section{
    margin-bottom: 200px;
}

/*Buttons*/
.go-up-btn{
    background-color: white;
    border: 2px solid #272343;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    top: 90%;
    right: 20px;
    margin-left: 20px;
    z-index: 1000;
    cursor: pointer;
}