.contact-sec{
    background-color: #BAE8E8;
    width: 80%;
    height: 400px;
    border-radius: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-sec .illustration{
    position: relative;
    bottom: 140px;

}

.contact-sec .contact-btn{
    width: 50%;
    background-color: #E3F6F5;
    border: none;
    border-radius: 30px;
    height: 80%;
    text-align: right;
    padding: 20px 30px;
    cursor: pointer;
}

.contact-sec .contact-btn:hover{
    background-color: white;
}

.contact-sec .contact-btn .heading{
    font-size: 34px;
}

.contact-sec .contact-btn .paragraph-cont{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 100px;
}

.contact-sec .contact-btn .paragraph-cont .paragraph{
    font-size: 28px;
    color: black;
    margin-left: 20px;
    border-bottom: 1px solid black;
}


@media screen and (max-width: 900px) {
    .contact-sec{
        flex-direction: column;
        margin: 300px auto;
    }

    .contact-sec .illustration{
        bottom: 50px;
    
    }

    .contact-sec .contact-btn{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .contact-sec{
        width: 90%;
    }
    .contact-sec .illustration{
        width: 300px;
        bottom: 100px;
    
    }

    .contact-sec .contact-btn .heading{
        font-size: 24px;
    }
    
    .contact-sec .contact-btn .paragraph-cont{
        margin-top: 50px;
    }
    
    .contact-sec .contact-btn .paragraph-cont .paragraph{
        font-size: 20px;
    }
}