.process-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-card .icon{
    border: 5px solid #272343;
    padding: 20px;
    border-radius: 50%;
}

.process-card .heading{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.process-card .paragraph{
    font-size: 16px;
    width: 60%;
    text-align: center;
    
}